extends ../base
include ../mixins/formatDate
block content
    div#videoContainer(data-id=video._id)
        video(src="/"+ video.fileUrl,tabindex="0")
        div#videoControls.videoControls
            div.videoControls__play
                span#play.videoControls__playBtn
                    i.fas.fa-play
                div.videoControls__time
                    span#currentTime 00:00
                    span  / 
                    span#totalTime 00:00
            input(type="range",step="1", value="0", min="0")#timeline.videoControls__timeline
            div.videoControls__volume
                span#mute
                    i.fas.fa-volume-up
                input(type="range",step="0.1", value=0.5, min="0", max="1")#volume
            div 
                span#fullScreen
                    i.fas.fa-expand
    div.video__data
        p.video__title=video.title
        small.video__owner Uploaded by 
            a(href=`/users/${video.owner._id}`)=video.owner.username
        +formatDate(video.createdAt)
        if String(video.owner._id) === String(loggedInUser._id)
            a(href=`${video.id}/edit`).edit_video Edit Video &rarr;
            br
            a(href=`${video.id}/delete`).delete_video Delete Video &rarr;
    if loggedIn
        div.video__add-comments
            form.video__comment-form#commentForm
                div.loginUser 
                    if loggedInUser.avatarUrl === undefined
                        i.fas.fa-user
                        span #{loggedInUser.username} 
                    else 
                        if (loggedInUser.avatarUrl.startsWith("uploads"))
                            img.header__avatar(src="/"+loggedInUser.avatarUrl)
                        if (loggedInUser.avatarUrl.startsWith("http"))
                            img.header__avatar(src=loggedInUser.avatarUrl)
                        span #{loggedInUser.username} 
                textarea(cols="20", rows="10", placeholder="Write a nice comment...")
                button Add Comment
        div.video__comments
            ul
                each comment in video.comments.reverse()
                    li.video__comment(data-id=comment._id)
                        span._date=comment.createdAt
                        div.video__comment__scrip
                            span.video__comment__scrip_text #{comment.ownerName}  
                                i.fas.fa-comment
                                    |#{comment.text}
                        if String(loggedInUser._id) === String(comment.owner)
                            div.video__comment__Btn
                                    span.editBtn
                                        i.fas.fa-edit
                                    span.removeBtn
                                        i.fas.fa-trash-alt
                        if String(loggedInUser._id) !== String(comment.owner)
                            div.video__comment_like
                                if comment.like.includes(loggedInUser.username)
                                    i.fas.fa-thumbs-up.active #{comment.like.length}
                                else 
                                    i.fas.fa-thumbs-up #{comment.like.length}

block scripts 
    script(src="/assets/js/videoPlayer.js") 
    if loggedIn
        script(src="/assets/js/commentSection.js") 